{% import 'macros.html' as macros %}

{% macro render_sub_element(sub_element, can_see_drafts) %}
  {% if sub_element.is_active %}
    {% set outer_element_class = 'active-course-item' %}
    <div class="course-list-item active-course-item">
  {% else %}
    {% set outer_element_class = 'list-course-item' %}
    <div class="course-list-item">
  {% endif %}
  {% if sub_element.progress == 2 %}
    {% set inner_element_class = 'lesson-title-with-progress' %}
  {% else %}
    {% set inner_element_class = 'lesson-title-no-progress' %}
  {% endif %}

  {{ macros.render_outline_element(
         sub_element, can_see_drafts, course_availability,
         'span', outer_element_class, 'span', inner_element_class,
         suppress_link=sub_element.is_active, suppress_description=True) }}
    </div>
{% endmacro %}

{% macro render_elements_list(elements, can_see_drafts) %}

{% endmacro %}

<div>
  <h3>
    <a href="course">Lesson Plan</a>
    {% if is_read_write_course and is_course_admin %}
      <a id="gcb-edit-unit-button" href="dashboard?action=edit_unit&key={{ unit.unit_id }}"
         class="icon md-mode-edit gcb-edit-resource-button">
      </a>
    {% endif %}
  </h3>
  <div id="hideCourseSidenav">
    <i class="material-icons">dehaze</i>
  </div>

  <ul class="collapsible" data-collapsible="accordion">
    {{ html_hooks.insert('unit.after_leftnav_begins') | safe }}

      {% for outline_element in course_outline %}
        {% if outline_element.is_active %}
          {% set outer_element_class = 'expanded' %}
          {% set element_class = 'active' %}
        {% endif %}

        <li class="{{ element_class }}">
          <div class="collapsible-header {{ element_class }}"><i class="material-icons">star_border</i>
            {% if outline_element.contents %}
              {% set supress_the_link = True %}
              {% set outer_element_class = 'gcb-unit-title' %}
              <i class="material-icons course-expand-btn expand-more">expand_more</i>
              <i class="material-icons course-expand-btn expand-less">expand_less</i>
            {% else %}
              {% set supress_the_link = False %}
              {% set outer_element_class = 'gcb-unit-title leaf' %}
            {% endif %}

            {{ macros.render_outline_element(
               outline_element, can_see_drafts, course_availability,
               'span', '', 'span', '', suppress_link=supress_the_link,suppress_description=True) }} </div>

          <div
              {% if outline_element.is_active %}
               class="collapsible-body"
              {% else %}
               class="collapsible-body"
              {% endif %}>
            {% for sub_element in outline_element.contents recursive %}
                {{ render_sub_element(sub_element, is_progress_recorded) }}
                {% if sub_element.contents %}
                  <ul>
                    {{ loop(sub_element.contents) }}
                  </ul>
                {% endif %}
            {% endfor %}
          </div>
        </li>

      {% endfor %}
    {{ html_hooks.insert('unit.before_leftnav_ends') | safe }}
  </ul>
</div>
