.topic-library {

  .simple-container {
    padding: 0 15px;
  }

  .select-wrapper {
    max-width: 200px;
  }
}

.course-card {
  position: relative;
  img {
    width: 100%;
  }
  .free-course {
    font-size: 0.9rem;
    color: $green-l;
    margin: 0 0 20px;
  }
  .course-card-content {
    padding: 20px;
    min-height: 160px;

    h3 {
      font-size: 1.4rem;
      margin: 10px 0;
      font-weight: 200;
      letter-spacing: 0.8px;
      color: $text-color;
      line-height: 25px;
    }
  }

  &:hover {
    .course-overlay {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .course-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    @include transition();
  }
}

.explorer-title {
  text-align: center;
  font-weight: 200;
  margin-bottom: 30px;
  margin-top: 0;
}


//  Affects the main app
paper-radio-button {
  float: left;
  margin-right: 15px;
}
.underline.paper-input-container {
  display: none;
}
input.style-scope.paper-input {
  border-bottom: 1px solid #ececec !important;
}

h2.style-scope.filter-sidebar {
  margin-top: 0 !important;
}

