
// === COLORS ===
$text-color: #424242;
$text-color-l: #565555;
$hover-blue: #4054B2;
$white-d: #F5F5F5;
$green: #00BFA5;
$green-l: #43a047;

$brown-l: #e0e0e0;

// === FONTS ===
$text-font: Roboto, Arial, sans-serif;
$header-font: "Roboto Slab", Georgia, serif;

// === SIZES ===
$text-size: 16px;
$sub-text-size: 28.8px;
$context-width: 1200px;
